data/raw/

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Large data files not tracked in git
data/annotation/
data/processed/Training_Dataset_Preprocessed.csv
data/processed/Test_Dataset_Preprocessed.csv
